
body{
    background: #000;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}
.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.star-menu{
    top: 55px;
    left:0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:all 1s ease-out;

    .start-button{
        margin:20px auto;
    }
}
.out{
    left:180%; 
}
.hidden{
    display:none;
}
.page__heading{
    font-size:2em;
    font-weight: bolder;
    background:#1A1A1A;
    padding: 10px 0;
    border-bottom: 1px solid #242424;
    width: 100%;
    &--orange{
        background:#FE980E;
        color:#000;
        padding:5px;
        border-radius:5px;
    }
}
.deck{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    padding:10px;
    margin:0 auto;
    @media screen and (min-width: $very-small-break){
        max-width: $very-small-break; 
        }
    @media screen and (min-width: $small-break) {
        max-width: $small-break;
        box-sizing: content-box;
    }
    @media screen and (min-width: $medium-break){
        box-sizing: content-box;
        max-width: $medium-break; 
        }
    @media screen and (min-width: $break){
        box-sizing: content-box;
        max-width: $break; 
        }
    .card{
        height: $img-very-small-height;
        width: $img-very-small-width; 
        cursor: pointer;
        background:white;
        background-size: contain;
        margin:3px;
        transition: 1.5s cubic-bezier(0.44, -0.29, 0, 0.34);
        @media screen and (min-width: $small-break) {
            width: calc(233/2px);
            height: calc(131/2px);
         }
        @media screen and (min-width: $medium-break) {
           width:233px;
           height: 131px;
        }
        @media screen and (min-width: $break){
        height: 145px;
        width: 258px;   
        }
    }
}
.score-panel{
    margin: 5px auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    text-shadow: 0 0 black;
}
.stars{
    display:flex;
}

.block-click{
    top:0;
    position: fixed;
    background: transparent;
    width: 100%;
    height: 100%;
}
.restart{
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    z-index:5;
    &:hover,&:focus{
        outline:1px solid black;
    }
}
.end-game{
    background: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:2.4em;
    font-weight: 700;
    flex-direction: column;
    text-align: center;
    color: #000000;
    &::after{
            z-index: -1;
            position: absolute;
            display: flex;
            content: '';
            width: 320px;
            height: 240px;
            background: red;
            border-radius: 10px;
            border: 5px solid 1A1A1A;
            background: #FE980E;;
    }
    .score-panel{
        flex-direction: column;
        align-items: center;
    }
}