$img-margin: 3px;
$img-width: 258px;
$img-height: 145px;
$img-md-width: 233px;
$img-md-height:131px;
$break: ($img-width*4)+(8*$img-margin);
$medium-break:973px;
$small-break: 520px;
$very-small-break: $break/4+50px;
$img-very-small-width: $img-width/4;
$img-very-small-height: $img-height/4;
$img-small-width: $img-width/2;
$img-small-height: $img-height/2;